@model int

@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container row pt-4">
    <div class=" col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is @Model
        <br />
        <br />
        <img src="~/images/order-placed.jpg" class="img-fluid" alt="Thank You" width="50%"  />
    </div>
</div>