@model Category;

<form method="POST" asp-action="Edit">
    <div class="border border-1 p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr class="border-1" />
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DisplayOrder"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6  col-lg-3 mb-3 mb-md-0  ">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3 mb-md-0  ">
                <a asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}